<% if user_signed_in? %>
    <h1>Welcome</h1>
    <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
    <h1>Welcome</h1>
    <%= link_to 'Sign in', new_user_session_path %>
<% end %>
